In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [39]:
dataset = pd.read_csv('/content/hiring.csv')
fill=[0,0,5,2,7,3,10,11]
for i in range(0,8):
  dataset['experience'][i]=fill[i]
dataset=dataset.fillna(0)
dataset

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    0.0                           7      72000
7          11                    7.0                           8      80000

In [40]:
x =dataset.iloc[:, :3]
y =dataset.iloc[:, -1]

In [42]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

regressor.fit(x,y)

pickle.dump(regressor, open('model.pkl','wb'))